/* common */
body {
  background-color: #333;
  height: 100vh;
}
section {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 96px;
}
h1 {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 96px;
  font-size: 24px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
.list {
  display: grid;
  grid-template-columns: repeat(4, 240px);
  gap: 40px 80px;
  margin-top: 48px;
}

/* Button01 */
.button01 {
  position: relative;
  color: #39c20b;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.button01::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 50%;
  background: rgba(255, 255, 255, 0.05);
}
.button01__line {
  position: absolute;
}
.button01__line:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #0c002b, #39c20b);
  animation: button01-01 1s linear infinite;
}
.button01__line:nth-child(2) {
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #0c002b, #39c20b);
  animation: button01-02 1s linear infinite;
  animation-delay: 0.5s;
}
.button01__line:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, #0c002b, #39c20b);
  animation: button01-03 1s linear infinite;
}
.button01__line:nth-child(4) {
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, #0c002b, #39c20b);
  animation: button01-04 1s linear infinite;
  animation-delay: 0.5s;
}
.button01:hover .button01__line {
  animation-direction: reverse;
}
@keyframes button01-01 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes button01-02 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes button01-03 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes button01-04 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* Button02 */
.button02 {
  position: relative;
  padding: 32px 64px;
  text-transform: uppercase;
  overflow: hidden;
}
.button02__text {
  position: relative;
  z-index: 1;
  color: #fff;
}
.button02__liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 240px;
  height: 240px;
  background: #4973ff;
  transition: 0.5s;
}
.button02:hover .button02__liquid {
  top: -140px;
}
.button02__liquid::before,
.button02__liquid::after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}
.button02__liquid::before {
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: button02 5s linear infinite;
}
.button02__liquid::after {
  border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
  animation: button02 10s linear infinite;
}
@keyframes button02 {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

/* Button03 */
.button03 {
  position: relative;
  color: #f321d0;
  overflow: hidden;
  transition: 0.2s;
}
.button03:hover {
  color: #fff;
  background: #f321d0;
  box-shadow: 0 0 10px #f321d0, 0 0 40px #f321d0, 0 0 80px #f321d0;
  transition-delay: 0.8s;
}
.button03__line {
  position: absolute;
  display: block;
}
.button03__line:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #f321d0);
}
.button03:hover .button03__line:nth-child(1) {
  left: 100%;
  transition: 0.8s;
}
.button03__line:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #f321d0);
}
.button03:hover .button03__line:nth-child(2) {
  top: 100%;
  transition: 0.8s;
  transition-delay: 0.2s;
}
.button03__line:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #f321d0);
}
.button03:hover .button03__line:nth-child(3) {
  right: 100%;
  transition: 0.8s;
  transition-delay: 0.4s;
}
.button03__line:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #f321d0);
}
.button03:hover .button03__line:nth-child(4) {
  bottom: 100%;
  transition: 0.8s;
  transition-delay: 0.6s;
}

/* Button04 */
.button04 {
  position: relative;
  background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb3b, #03a9f4);
  background-size: 400%;
  z-index: 1;
}
.button04:hover {
  animation: button04 8s linear infinite;
}
.button04::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb3b, #03a9f4);
  background-size: 400%;
  opacity: 0;
  filter: blur(20px);
  transition: 0.4s;
}
.button04:hover::before {
  opacity: 1;
  animation: button04 8s linear infinite;
}
@keyframes button04 {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

/* Button05 */
.button05 {
  position: relative;
  transform-style: preserve-3d;
  perspective: 800px;
}
.button05__front,
.button05__middle,
.button05__back {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  line-height: 96px;
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: 1s;
}
.button05__front {
  transform: rotateX(0deg) translateZ(20px);
}
.button05:hover .button05__front {
  transform: rotateX(-180deg) translateZ(20px);
}
.button05__back {
  transform: rotateX(180deg) translateZ(20px);
}
.button05:hover .button05__back {
  transform: rotateX(0deg) translateZ(20px);
}
.button05__middle {
  background: linear-gradient(to left, #c32a5b, #7129bd);
}
.button05__middle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #ffdd1f, #c31a5b);
  transform: translateZ(-3px);
}
.button05:hover .button05__middle {
  transform: rotateX(-180deg);
}

/* Button06 */
.button06 {
  position: relative;
  color: #fff;
}
.button06::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f4c103;
  z-index: -1;
  transition: transform 0.5s;
  transform: scale(0);
  transform-origin: bottom right;
}
.button06:hover::before {
  transition: transform 0.5s;
  transform: scale(1);
  transform-origin: top left;
}
.button06::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid #fff;
  z-index: -1;
  transition: transform 0.5s;
  transform: scale(1);
  transform-origin: top left;
}
.button06:hover::after {
  transition: transform 0.5s;
  transform: scale(0);
  transform-origin: bottom right;
}

/* Button07 */
.button07 {
  position: relative;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.button07::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}
.button07::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}
.button07:hover::after {
  left: 100%;
}
.button07__line {
  position: absolute;
  display: block;
  transition: 0.5s;
}
.button07__line:nth-child(1) {
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #fff;
}
.button07:hover .button07__line:nth-child(1) {
  width: 100%;
  transform: translateX(100%);
}
.button07__line:nth-child(2) {
  top: 0;
  left: 0;
  width: 1px;
  height: 0;
  background: #fff;
}
.button07:hover .button07__line:nth-child(2) {
  height: 100%;
  transform: translateY(100%);
}
.button07__line:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background: #fff;
}
.button07:hover .button07__line:nth-child(3) {
  width: 100%;
  transform: translateX(-100%);
}
.button07__line:nth-child(4) {
  bottom: 0;
  right: 0;
  width: 1px;
  height: 0;
  background: #fff;
}
.button07:hover .button07__line:nth-child(4) {
  height: 100%;
  transform: translateY(-100%);
}
